/* nav button {
  color: aquamarine;
  border: 1px slid red;
} */
.filters .search i {
  color: #ade3f5;
}

.navigation .nav-link {
  /* border: 1px solid red; */
  color: grey;
}

.navigation .nav-link:hover {
  /* border: 1px solid red; */
  color: darkblue;
}

.navigation .nav-link .count {
  font-size: 0.9rem;
  background-color: #daf6ff;
  color: rgb(128, 152, 184);
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}
